.loading h2 {
    color: #fff;
    margin: 12px;
}

.lista-filmes {
    max-width: 800px;
    margin: 14px auto;
}

.lista-filmes article {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
}

.lista-filmes strong {
    display: block;
    font-size: 22px;
    text-align: center;
    margin-bottom: 14px;
}

.lista-filmes img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: top left;
}

.lista-filmes h2 {
    color: #fff;
}

.lista-filmes .titulo-full {
    color: #000;
}

.melhores {
    width: 100%;
    background-color: #ccc;
    margin-bottom: 30px;
}

/* .lista-filmes a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116FEB;
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
} */

.p-button {
    padding: 0.75rem 1.25rem;
}

.p-link svg path {
    fill: #fff;
}

.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next {
    margin: 0.5rem;
}

.p-carousel .p-carousel-content .p-carousel-prev:enabled:hover,
.p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
    background-color: #000;
}

.p-carousel .p-carousel-indicators {
    padding: 1rem;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}